/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}h2 {
  background-color: #ffe6b4; 
  padding: 0.5rem 1rem;
  margin-bottom: 30px;
  border-radius: 6px;
  display: inline-block;
}


/* Header */
header {
  background: #ffffff; 
  color: #000000;       
  padding: 1rem;
}nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}nav ul {
  list-style: none;  
  display: flex;
  gap: 1.5rem;
}nav .nav-links {
  display: flex;
  gap: 1.5rem;
}nav a {
  color: #000000;           
  text-decoration: none;
  font-weight: bold;
  padding: 0.3rem 0.8rem;  
  border-radius: 10px;      
  transition: background-color 0.3s ease; /
}nav a:hover {
  background-color: #ffa500;
  color: white;              
}.perfil-link:hover {
  background-color: #4CAF50; 
  color: white;
}.logo img {
  width: 50%; 
  max-width: 150px; 
  height: auto;
}


/* Seccion 1 */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
  align-items: center;         
  padding: 2rem;
  background: linear-gradient(#FBC02D, #ff8c00);
  gap: 2rem;                   
}.hero .text {
  flex: 1 1 300px;
  padding: 1rem;
}.hero .text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}.hero-text {
  max-width: 600px;
  text-align: center;
}.hero .text .btn {
  background-color: #ff5722;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}.hero img {
  flex: 1 1 300px;
  max-width: 100%;
  border-radius: 8px;
  margin-left: 60px;
  text-align: center;
}


/* Seccion Principal */
.section {
  padding: 2rem;
  text-align: center;
}.section h2 {
  margin-bottom: 1rem;
  color: #ff9800;
}.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}.card {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  text-align: left;
}.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}.card h3 {
  margin-top: 1rem;
  color: #e65100;
  text-align: center;
}.card p {
  margin-top: 0.5rem;
  text-align: justify;
}


/* Seccion Imagenes */
.grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 0 2rem;
}.grid-images img {
  width: 100%;
  border-radius: 10px;
}


/* Seccion Descripcion */
.descripcion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}.ilustraciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}.fila {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}.fila-superior img,
.fila-inferior img {
  width: 200px;
  border-radius: 10px;
}.texto-descripcion {
  flex: 1;
  max-width: 400px;
  text-align: justify;
}


/* Seccion Mapa */
.map-section img {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  display: block;
}


/* Seccion Ingresar mail 1 */
.contact {
  padding: 2rem;
  background-color: #f44336;
  color: white;
  text-align: center;
}.contact input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
}.contact button {
  background-color: #ff5722;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Secci贸n Ingresar mail 2 */
.contacto {
  padding: 2rem;
  background-color: #d32f2f;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 900px;
}.contacto h3 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}.contacto p {
  font-size: 16px;
  margin-bottom: 1rem;
}.formulario-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}.formulario-contacto input[type="email"] {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #fbc02d; 
  color: black;
  opacity: 1;
  width: 250px;
  font-size: 16px;
}.formulario-contacto button {
  padding: 0.75rem 1.5rem;
  background-color: #fbc02d; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}.formulario-contacto button:hover {
  background-color: #f9a825; 
}


/* Secci贸n de Alertas */
.alertas {
  text-align: center;
  padding: 2rem;
}.alertas img {
  display: block;
  margin: 0 auto;
  width: 45%;
  height: auto;
  border: 15px solid #FFA500; 
  border-radius: 10px;
}


/* Secci贸n de Recomendaciones */
.recomendaciones {
  text-align: center;
  padding: 2rem;
}.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}.tarjeta {
  background-color: #ffe8cd;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}.tarjeta ul {
  list-style: none; 
  padding-left: 0;   
  margin: 0 ;   
}.tarjeta img {
  width: 33%; 
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}


/* Secci贸n de Noticias */
.noticias {
  text-align: center;
  padding: 2rem;
}.carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}.carousel img {
  width: 30%;          
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}.carousel img:hover {
  transform: scale(1.03); 
}

/* Preguntas Frecuentes */
.faq {
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(#ff9513,#FBC02D);
    border-radius: 8px;
}.faq h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}.faq-item {
    margin-bottom: 20px;
}.faq-item h3 {
    font-size: 20px;
    color: #870d01;
}.faq-item p {
    font-size: 16px;
    margin-left: 20px;
}



/* Botones */
.btn_Ver_mas {
  background: linear-gradient(#ff4e4e, #D32F2F);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  
}.btn_Informacion {
  background: linear-gradient(#ff4e4e, #D32F2F);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  
}.btn_Mapa {
  background: linear-gradient(#ff4e4e, #D32F2F);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}.btn_Ver_mas:hover,
.btn_Informacion:hover,
.btn_Mapa:hover {
  background-color: #e64a19;
}


/* Footer */
footer {
  background-color: #00274d;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;
}
