body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ff0000, #ff6f00);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Agrupa todo y lo centra */
.seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-10px); 
}

.btn-volver {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}

.btn-volver:hover {
  background-color: black;
  color: white;
}


/* Título */
.header {
  padding: 10px 0;
  text-align: center;
}

.titulo {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

/* Rectángulo blanco */
.rectangulo {
  background-color: white;
  border-radius: 20px;
  width: 955%;           /* más flexible que 1000px */
  max-width: 850px;
  height: 80vh;          /* alto relativo */
  min-height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Imagen perfil */
.imagen-perfil {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imagen-perfil img {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000;
  object-fit: cover;
}

/* Formulario  */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.formulario label {
  font-weight: bold;
  align-self: flex-start;
  margin-left: 10%;
}

.formulario input {
  width: 80%;
  padding: 8px;
  border: 1.5px solid #000;
  border-radius: 20px;
  font-size: 14px;
}

.formulario button {
  margin-top: 10px;
  padding: 12px 28px;
  font-size: 16px;
  color: white;
  background-color: red;
  border: 1.5px solid black;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
